.hidden {
    display: none;
}

.apiDisplay {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.responseMessageBox {
    width: 1000;
    height: 100;
}

.responsePreBox {
    width: 1000;
    height: 100;
    overflow: hidden;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.responsePreContainer {
    border: 2px solid gray;
}
