<head>
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/settings.js"></script>
</head>

<body>
    <a href="#addNewApiDiv">Add New API</a>
    <div id="addNewApiDiv" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Add New API</h2>
            <div>API Name: <input id="apiName" type="text"/></div>
            <div>Beginning Escape: <input id="beginningEscape" type="text"/></div>
            <div>Ending Escape: <input id="endingEscape" type="text"/></div>
            <input type="button" value="Save" onclick="saveApi()"/>
        </div>
    </div>
    <h1>Settings</h1>
    <h2>APIs</h2>
    <ul>
        {{range .ApiModels}}
            <li>
                <div id="apiNameField" data-type="div" class="apiDisplay cursor" data-id="{{.Id}}">
                    {{.Name}}
                </div>
                <ul>
                    <li>
                        Beginning Escape:
                        <span id="beginningEscapeField{{.Id}}" data-type="span" class="cursor">
                            {{.BeginningEscape}}
                        </span>
                    </li>
                    <li>
                        Ending Escape:
                        <span id="endingEscapeField{{.Id}}" data-type="span" class="cursor">
                            {{.EndingEscape}}
                        </span>
                    </li>
                    <li>
                        Messages <a href="#addNewMessage-{{.Id}}">Add New Message</a>
                        <div id="addNewMessage-{{.Id}}" class="modalDialog">
                            <div>
                                <a href="#close" title="Close" class="close">X</a>
                                <h2>Adding New Message for {{.Name}}</h2>
                                <div>Identifier: <input id="identifier-{{.Id}}" type="text"/></div>
                                <div><label>Response Message: <textarea id="response-{{.Id}}"></textarea></label></div>
                                <input type="button" value="Save" onclick="saveMessage({{.Id}})"/>
                            </div>
                        </div>
                        <ul>
                            {{range .Messages}}
                                <li>
                                    Identifier:
                                    <div id="identifierField{{.Id}}" data-type="div" class="cursor">
                                        {{.Identifier}}
                                    </div>
                                    <div class="responsePreContainer">
                                        <pre data-type="pre" id="responseField{{.Id}}" class="responsePreBox cursor">
                                            {{.ResponseTemplate}}
                                        </pre>
                                    </div>
                                </li>
                            {{end}}
                        </ul>
                    </li>
                </ul>
            </li>
        {{end}}
    </ul>
</body>
