<head>
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/settings.js"></script>
</head>

<body>
    <div class="modalModal">
        <div>
            <a href="javascript:closeModalModal()" title="Close" class="close">X</a>
            <div id="modalContent">
                <input type="hidden" id="fieldType">
                <input type="hidden" id="fieldId">
                <div class="insertFieldModal">
                    <h3>Insert New Field</h5>
                    Field Name: <input id="newFieldInput" type="text"/>
                    <input type="button" value="Save" onclick="saveNewField()">
                </div>
            </div>
        </div>
    </div>
    <a href="#addNewApiDiv">Add New API</a>
    <div id="addNewApiDiv" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Add New API</h2>
            <div>API Name: <input id="apiName" type="text"/></div>
            <div>Beginning Escape: <input id="beginningEscape" type="text"/></div>
            <div>Ending Escape: <input id="endingEscape" type="text"/></div>
            <input type="button" value="Save" onclick="saveApi()"/>
        </div>
    </div>
    <h1>Settings</h1>
    <h2>APIs</h2>
    <ul>
        {{range .ApiModels}}
            <li>
                <div id="apiNameField" data-type="div" class="apiDisplay cursor" data-id="{{.Id}}">
                    {{.Name}}
                </div>
                <ul>
                    <li>
                        Beginning Escape:
                        <span id="beginningEscapeField{{.Id}}" data-type="span" class="cursor">
                            {{.BeginningEscape}}
                        </span>
                    </li>
                    <li>
                        Ending Escape:
                        <span id="endingEscapeField{{.Id}}" data-type="span" class="cursor">
                            {{.EndingEscape}}
                        </span>
                    </li>
                    <li>
                        Messages <a href="#addNewMessage-{{.Id}}">Add New Message</a>
                        <div id="addNewMessage-{{.Id}}" class="modalDialog">
                            <div>
                                <a href="#close" title="Close" class="close">X</a>
                                <h2>Adding New Message for {{.Name}}</h2>
                                <div>Identifier: <input id="identifier-{{.Id}}" type="text"/></div>
                                <input type="button" value="Save" onclick="saveMessage({{.Id}})"/>
                            </div>
                        </div>
                        <ul>
                            {{range .Messages}}
                                <li>
                                    Identifier:
                                    <span id="identifierField{{.Id}}" data-type="span" class="cursor">
                                        {{.Identifier}}
                                    </span>
                                    <div class="responsePreContainer cursor">
                                        <pre
                                            data-type="pre"
                                            data-modal="messageTemplate-{{.Id}}"
                                            id="messageTemplateField{{.Id}}"
                                            class="responsePreBox"
                                            >{{.Template}}</pre>
                                    </div>
                                    <div id="messageTemplate-{{.Id}}" class="modalDialog">
                                        <div>
                                            <div>Modifying Message Template for {{.Identifier}}</div>
                                            <input type="button" value="Insert Field" onclick="insertFieldDialog('message', {{.Id}})"/>
                                            <textarea id="message{{.Id}}TextArea" class="messageTextArea">{{.Template}}</textarea>
                                            <input type="hidden" id="message{{.Id}}OldValue" value="{{.Template}}"/>
                                            <input type="button" value="Save" onclick="saveModal('message', {{.Id}})"/>
                                            <input type="button" value="Close Without Saving" onclick="closeModal()"/>
                                        </div>
                                    </div>
                                    <ul>
                                        <a href="#addNewResponse-{{.Id}}">Add New Response</a>
                                        <div id="addNewResponse-{{.Id}}" class="modalDialog">
                                            <div>
                                                <a href="#close" title="Close" class="close">X</a>
                                                <h2>Adding New Response: {{.Identifier}}</h2>
                                                <div><label>Template: <textarea id="response-{{.Id}}" class="messageTextArea"></textarea></label></div>
                                                <div>
                                                    Default?
                                                    <select id="default-{{.Id}}">
                                                        <option value=1
                                                        {{if .Responses}}
                                                        {{else}}
                                                            selected=selected
                                                        {{end}}
                                                        >Yes</option>
                                                        <option value=0
                                                        {{if .Responses}}
                                                            selected=selected
                                                        {{end}}
                                                        >No</option>
                                                    </select>
                                                </div>
                                                <div>Condition: <input id="condition-{{.Id}}" type="text"/></div>
                                                <input type="button" value="Save" onclick="saveResponse({{.Id}})"/>
                                            </div>
                                        </div>
                                        {{$parentIdentifier := .Identifier}}{{range .Responses}}
                                            <div class="responsePreContainer">
                                                <pre
                                                    data-type="pre"
                                                    data-modal="responseTemplate-{{.Id}}"
                                                    id="responseField{{.Id}}"
                                                    class="responsePreBox cursor"
                                                >{{.Template}}</pre>
                                            </div>
                                            <div id="responseTemplate-{{.Id}}" class="modalDialog">
                                                <div>
                                                    Modifying Response Template for Message {{html $parentIdentifier}}
                                                    <textarea id="response{{.Id}}TextArea" class="messageTextArea">{{.Template}}</textarea>
                                                    <input type="hidden" id="response{{.Id}}OldValue" value="{{.Template}}"/>
                                                    <input type="button" value="Save" onclick="saveModal('response', {{.Id}})"/>
                                                    <input type="button" value="Close Without Saving" onclick="closeModal()"/>
                                                </div>
                                            </div>
                                        {{end}}
                                    </ul>
                                </li>
                            {{end}}
                        </ul>
                    </li>
                </ul>
            </li>
        {{end}}
    </ul>
</body>
