<head>
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
    <script src="/js/settings.js"></script>
</head>

<body>
    <h1>Settings</h1>
    <h2>APIs</h2>
    <ul>
        {{range .ApiModels}}
            <li>
                <div class="apiDisplay" data-id="{{.Id}}">{{.Name}}</div>
                <ul>
                    <li>
                        Beginning Escape: {{.BeginningEscape}}
                    </li>
                    <li>
                        Ending Escape: {{.EndingEscape}}
                    </li>
                    <li>
                        Messages
                        <ul>
                            {{range .Messages}}
                                <li>
                                    Identifier: {{.Identifier}}<br/>
                                    ResponseId: {{.ResponseId}}
                                </li>
                            {{end}}
                        </ul>
                    </li>
                </ul>
            </li>
        {{end}}
    </ul>
</body>
